@import "tailwindcss";

:root {

  --bg-main: #FCF8F8;
  --bg-card: #FBEFEF;
  --inp: #F9DFDF;
  --btn-main: #F5AFAF;
  --text-main: #3A2B2B;
  --btn-sec: #5A2A2A;

  /* --bg-main:  #F8FAFC;
--bg-card:  #E2E8F0;
--inp:      #CBD5E1;
--btn-main: #38BDF8;
--text-main:#0F172A;
--btn-sec:  #0284C7; */

/* --bg-main:  #0B0F14;
--bg-card:  #111827;
--inp:      #1F2937;
--btn-main: #FACC15;   
--text-main:#F9FAFB;
--btn-sec:  #CA8A04; */
}

body {
  font-family: 'Cherry Cream Soda', system-ui;
}